<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="TourPlannerConnection" connectionString="Host=localhost;Database=tourplanner;Username=tp;Password=tp" providerName="Npgsql" />
	</connectionStrings>
  <appSettings>
    <add key="TourPlannerApiKey" value="5b3ce3597851110001cf6248cc5cdbbf7c0b4192a6dac8519aa7c442" />
  </appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
